/*
 * Device Tree Source for the r8a7373/r8a73a7 based Ray board
 *
 * Copyright (C) 2013 Renesas Mobile
 *
 * This file is licensed under the terms of the GNU General Public License
 * version 2.  This program is licensed "as is" without any warranty of any
 * kind, whether express or implied.
 */

#include "rmobile-common.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/{
	model = "Ray";
	compatible = "renesas,ray", "renesas,r8a7373";

	chosen {
		bootargs = "console=ttySC0,115200 earlyprintk=sh-sci.0,115200 ignore_loglevel";
		linux,sysrq-reset-seq {
			keyset = <KEY_VOLUMEDOWN KEY_VOLUMEUP>;
			timeout-ms = <3000>;
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <0>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&key_pins>;

		volume-up {
			label = "+";
			gpios = <&pfc 1 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			gpio-key,wakeup;
		};

		volume-down {
			label = "-";
			gpios = <&pfc 2 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			gpio-key,wakeup;
		};

		focus {
			label = "Focus";
			gpios = <&pfc 24 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_CAMERA_FOCUS>;
			gpio-key,wakeup;
		};

		camera {
			label = "Camera";
			gpios = <&pfc 25 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_CAMERA>;
			gpio-key,wakeup;
		};
	};

	bcm-bt-rfkill {
		compatible = "bcm,bcm-bt-rfkill";
		bcm-bt-rfkill-vreg-gpio = <&pfc 268 GPIO_ACTIVE_HIGH>;
		bcm-bt-rfkill-n-reset-gpio = <&pfc 15 GPIO_ACTIVE_LOW>;
	};

	lsm303dl-input {
		compatible = "st,lsm303dl-input";
	};

	sound {
		compatible = "renesas,fsi-snd-d2153";
		renesas,fsia = <&sh_fsi>;
		renesas,fsib = <&sh_fsi2>;
		renesas,mclk-freq = <13000000>;
		jack-polarity;
		renesas,audio-routing =
			"RECCHL", "AIFOUTL",
			"RECCHR", "AIFOUTR",
			"AIFINL", "VCLK4",
			"AIFINR", "VCLK4",
			"AIFOUTL", "VCLK4",
			"AIFOUTR", "VCLK4",
			"Headphone Jack Left", "Headphone Left PGA",
			"Headphone Jack Right", "Headphone Right PGA",
			"Speaker", "Speaker PGA",
			"Earpiece", "Earpiece PGA";
	};

	bcm-gps {
		compatible = "bcm,bcm-gps";
		bcm-gps-hostwake = <&pfc 0 GPIO_ACTIVE_HIGH>;
		bcm-gps-regpu-gpio = <&pfc 11 GPIO_ACTIVE_HIGH>;
	};
};

&pfc {
	key_pins: keys {
		renesas,pins = "PORT1", "PORT2", "PORT24", "PORT25";
		bias-pull-up;
	};
};

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;

	/* Proximity Sensor */
	tmd2771: tmd2771@0x39 {
		compatible = "bcm,tmd2771";
		reg = <0x39>;
		gpio-irq-pin = <108>;
		calibrate_target_param = <300000>;
		als_time_param = <200>;
		scale_factor_param = <1>;
		gain_trim_param = <512>;
		filter_history_param = <3>;
		filter_count_param = <1>;
		gain_param = <2>;
		prox_threshold_hi_param = <646>;
		prox_threshold_lo_param = <638>;
		als_threshold_hi_param = <1>;
		als_threshold_lo_param = <0>;
		prox_int_time_param = <238>;
		prox_adc_time_param = <255>;
		prox_wait_time_param = <238>;
		prox_intr_filter_param = <17>;
		prox_config_param = <0>;
		prox_pulse_cnt_param = <96>;
		prox_gain_param = <34>;
		prox_win_sw = <100>;
	};

	/* Gyroscope Sensor */
	l3gd20: l3gd20@6b {
		compatible = "st,l3gd20";
		/* slave address */
		reg = <0x6b>;
	};

	/* Accelerometer sensor */
	lsm303dlacc: lsm303dlacc@19 {
		compatible = "st,lsm303dl-acc";
		/* slave address */
		reg = <0x19>;
		lsm303dl_acc-gpio = <&pfc 110 GPIO_ACTIVE_HIGH>;
		orientation = /bits/ 8 <0x00 0x01 0x00
					0x01 0x00 0x00
					0x00 0x00 0x01>;
	};

	/* Magnetometer Sensor */
	lsm303dlmag: lsm303dlmag@1e {
		compatible = "st,lsm303dl-mag";
		/* slave address */
		reg = <0x1e>;
	};
};
